# the folder contains previous js tasks
freeCodeCamp/
freeCodeCamp_2/
freeCodeCamp_JS/
freeCodeCamp_HTMLCSS/
freeCodeCamp_CSS/
CSS_Flex/
freeCodeCamp_CSS1/
CSS_Grid/
JS_ES6/
Regular_Expressions/
Regular_Expressions_1/
freeCodeCamp_23/